@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  font-family: "Poppins";
}
$voilet: hsl(257, 27%, 26%);
$voilet-max: hsl(260, 8%, 14%);
$blue: hsl(255, 11%, 22%);
$cyan: hsl(180, 66%, 49%);
$grey: hsl(0, 0%, 75%);
$grey-dark: hsl(257, 7%, 63%);

button {
  cursor: pointer;
}

nav {
  position: relative;
  .navParent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px 20px;
    .logo {
      img {
        width: 85%;
      }
    }
    .trigger {
      img {
        width: 28px;
      }
    }
    .navContent {
      overflow: hidden;
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 90%;
      background-color: $voilet;
      border-radius: 20px;
      text-align: center;
      // padding: 20px 20px;
      a {
        color: rgb(219, 219, 219);
        // font-family: "Poppins";
        text-decoration: none;
        &:hover {
          color: white;
        }
      }
      .left {
        margin-top: 20px;
        ul {
          list-style: none;
          li {
            margin: 25px 0;
            font-size: 20px;
            font-weight: 500;
          }
        }
      }
      hr {
        width: 80%;
        margin: 30px auto;
        color: white;
      }
      .btns {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        button {
          width: 240px;
          margin: 0px auto 15px;
          background-color: #0000;
          font-weight: 500;
          padding: 5px 10px;
          text-align: center;
          border: none;
          border-radius: 50px;
          color: white;
          font-size: 20px;
        }
        .login-btn {
          transition: all 0.1s ease;

          &:hover {
            background-color: rgba(255, 255, 255, 0.171);
          }
        }
        .signup-btn {
          background-color: $cyan;
          &:hover {
            background-color: hsl(180, 100%, 31%);
          }
        }
      }
    }
  }
}

.landing-content {
  .human-on-chair {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    img {
      width: 430px;
      margin: 10px auto 60px;
    }
  }
  .left {
    .head {
      font-weight: 700;
      text-align: center;
      font-size: 36px;
      line-height: 1.1;
      width: 95%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    .sub-head {
      font-size: 16px;
      width: 80%;
      text-align: center;
      margin: 0 auto;
      color: $grey-dark;
    }
    .cta-btn {
      margin: 30px auto 20px;
      width: 45%;
      max-width: 300px;
      button {
        width: 100%;
        font-weight: 700;
        background-color: $cyan;
        color: white;
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        border-radius: 50px;
        &:hover {
          background-color: hsl(180, 100%, 31%);
        }
      }
    }
  }
}
.grey {
  margin-top: 160px;
  background-color: rgb(240, 240, 240);
  z-index: -2;
}
.shorten-box {
  transform: translateY(-50%);
  background-color: $voilet;
  background-image: url(../images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 10px;
  width: 90%;
  max-width: 450px;
  margin: 80px auto 0px;
  border-radius: 10px;
  // margin-top: -50%;
  .input {
    width: 95%;
    margin: 0 auto;
    input {
      width: 100%;
      background-color: white;
      border: none;
      height: 35px;
      font-size: 18px;
      border-radius: 10px;
      padding: 5px 20px;
      &:focus {
        // border: 10px solid $voilet;
        outline: hsl(180, 100%, 50%) solid 3px;
        // outline-color: $voilet;
      }
      &::placeholder {
        color: $grey-dark;
      }
    }
  }
  .shorten-btn {
    width: 95%;
    text-align: center;
    background-color: $cyan;
    color: white;
    height: 35px;
    margin: 15px auto 0;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    border: none;
    text-decoration: none;
    font-weight: 700;
    #shorten-btn-txt {
      text-decoration: none;
      font-weight: 700;
      width: 100%;
      text-align: center;
    }
    &:hover {
      background-color: hsl(180, 100%, 31%);
    }
  }
}

#error-msg {
  display: none;
  background-color: #ffd6d2;
  color: red;
  padding: 20px;
  margin: -20px auto 50px;
  width: 90%;
  min-width: 350px;
  max-width: 450px;
  font-size: 18px;
  text-align: center;
  box-shadow: 0 1px 1px rgba(255, 73, 23, 0.08),
    0 2px 2px rgba(255, 73, 23, 0.12), 0 4px 4px rgba(255, 73, 23, 0.16),
    0 8px 8px rgba(255, 73, 23, 0.2);
}

#previous {
  // box-shadow:0 20px 40px #b3001b13 ;
  margin-top: 20px;
  // height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  max-width: 450px;
  margin: 0 auto;
  min-width: 350px;
  .item {
    text-align: center;
    padding: 20px;
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    font-size: 18px;
    margin: 0 auto;
    .url {
      color: rgb(27, 27, 27);
      font-size: 17px;
      // background-color: #FAF0CA;
    }
    button {
      color: rgb(80, 80, 238);
      border-radius: 10px;
      width: fit-content;
      border: none;
      margin: 10px auto 5px;
      font-size: 17px;
      border-radius: 5px;
      background-color: #ceeddb;
      padding: 3px 15px;
    }

    .copy-btn {
      button {
        width: 55%;
        margin: 0;
        background-color: $cyan;
        color: white;
        padding: 5px 10px;
        // margin: 10px 0 5px;
      }
    }
  }
}
.advanced-head {
  margin-top: 100px;
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}
.advanced-sub-head {
  text-align: center;
  font-size: 16px;
  color: $grey-dark;
  width: 80%;
  margin: 0 auto;
  line-height: 1.6;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 100px;
  .item {
    width: 90%;
    position: relative;
    text-align: center;
    background-color: white;
    margin: 0 auto;
    padding: 20px 20px 40px;
    max-width: 400px;
    min-width: 350px;
    border-radius: 10px;
    position: relative;
    z-index: 1;

    .img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: $voilet;
      width: 80px;
      height: 80px;
      display: grid;
      place-items: center;
      img {
        height: 50%;
        object-fit: cover;
      }
    }
    .head {
      margin-top: 50px;
      font-weight: 700;
      font-size: 22px;
      color: $voilet-max;
      margin-bottom: 10px;
    }
    .para {
      color: $grey-dark;
      font-size: 17px;
      line-height: 1.6;
      width: 95%;
      margin: 0 auto;
    }
  }
  .item:not(:last-child) {
    &::before {
      position: absolute;
      // z-index: -1;
      content: "";
      background: $cyan;
      width: 10px;
      height: 100px;
      top: 120%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.pre-footer-content {
  margin: 80px auto 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 370px;
  // max-width: 0px;
  background: url(../images/bg-boost-desktop.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $voilet;
  .head {
    font-size: 28px;
    text-align: center;
    margin: 0 0 20px;
    font-weight: 700;
    color: white;
  }
  .btn {
    button {
      // width: 100%;
      color: white;
      background-color: $cyan;
      padding: 8px 30px;
      border-radius: 50px;
      border: none;
      font-size: 25px;
      font-weight: 700;
      &:hover {
        background-color: hsl(180, 100%, 31%);
      }
    }
    // width: 40%;
    margin: 0 auto;
  }
}
footer {
  padding: 50px 20px;
  background-color: $voilet-max;
  color: white;
  text-align: center;
  .logo {
    margin: 0 auto 50px;
    width: fit-content;
    font-size: 38px;
    font-weight: 700;
    // letter-spacing: 1.5;
    // opacity: 0;
  }
  .links {
    margin: 20px auto;
    .list {
      margin-bottom: 50px;
      font-size: 18px;
      .topic {
        font-weight: 700;
        margin-bottom: 15px;
      }
      .item {
        color: $grey;
        margin-bottom: 7px;
        &:hover {
          color: rgb(238, 238, 238);
        }
      }
    }
  }
  .social-links {
    display: flex;
    gap: 20px;
    margin: 70px auto 30px;
    width: fit-content;
    .item {
      svg {
        width: 30px;
        fill: #fff;
        &:hover {
          fill: #ffa69e;
        }
      }
    }
  }
}

//Last line
.attribution {
  font-size: 11px;
  text-align: center;
  background-color: $voilet-max;
  color: white;
}
.attribution a {
  color: $cyan;
  text-decoration: dotted;
  &:hover {
    text-decoration: underline;
  }
}

.spinner {
  width: 100%;
  display: flex;
  gap: 2px;
  justify-content: center;
  display: none;
}

.spinner > div {
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (min-width: 600px) {
  nav {
    .navParent {
      .navContent {
        width: 50%;
        min-width: 500px;
      }
    }
  }
  .landing-content {
    .human-on-chair {
      img {
        width: 600px;
      }
    }
    .left {
      .head {
        font-size: 38px;
      }
      .sub-head {
        font-size: 19px;
        max-width: 650px;
      }
      .cta-btn {
        width: 29%;
        button {
          padding: 3px 10px;
          font-size: 24px;
          // max-width: 10;
          margin: 0 auto;
        }
      }
    }
  }
  .shorten-box {
    display: flex;
    flex-direction: column;
  }
  .shorten-box {
    padding: 15px 20px;
    max-width: 500px;
    margin: 80px auto 0px;
    border-radius: 20px;
    .input {
      width: 96%;
      input {
        height: 100%;
        text-align: center;
        &::placeholder {
          text-align: center;
        }
      }
    }
    .shorten-btn {
      width: 55%;
      text-align: center;
      background-color: $cyan;
      color: white;
      height: 100%;
      min-height: 35px;
      margin: 15px auto 0;
      border-radius: 10px;
      font-size: 20px;
      padding: 5px 20px;
      display: flex;
      align-items: center;
      border: none;
      #shorten-btn-txt {
        width: 100%;
        text-align: center;
      }
      &:hover {
        background-color: hsl(180, 100%, 31%);
      }
    }
  }
  #previous {
    max-width: 40%;
    margin: 0 auto;
    min-width: 450px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    .item {
      width: 100%;
      button {
        width: 55%;
        min-width: none;
        max-width: 75%;
      }
    }
  }
  .advanced-head {
    font-size: 30px;
  }
  .advanced-sub-head {
    font-size: 19px;
    max-width: 600px;
  }
  .pre-footer-content {
    height: 137px;
    margin: 100px auto 0;
    .head {
      font-size: 23px;
      margin: 0 0 10px;
    }
    .btn {
      button {
        font-size: 20px;
        padding: 3px 20px;
      }
    }
  }
  footer {
    .links {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      margin: 0 auto;
      place-items: center;
      justify-content: center;
      .list {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}
@media screen and (min-width: 1100px) {
  body {
    overflow-x: hidden;
  }
  nav {
    width: 80%;
    margin: 0 auto;
    max-width: 2000px;
    position: initial;
    .navParent {
      padding: 30px 0 0;
      .logo {
        display: grid;
        place-items: center;
        img {
          width: 95%;
        }
      }
      .navContent {
        display: block;
        position: initial;
        background-color: #0000;
        transform: translate(0);
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 0;
        width: 100%;
        text-align: left;
        a {
          color: $grey-dark;
          &:hover {
            color: $voilet;
          }
        }
        .left {
          margin-right: auto;
          margin-top: 0;
          margin-left: 15px;
          ul {
            display: flex;
            flex-direction: row;
            li {
              margin: 0 10px 0;
              font-size: 17px;
            }
          }
        }
        hr {
          display: none;
        }
        .btns {
          flex-direction: row;
          margin-bottom: 0;
          button {
            margin: 0;
            width: 100px;
            font-size: 16px;
            font-weight: 700;
            padding: 3px 5px;
          }
          .login-btn {
            color: $grey-dark;
            margin-right: 20px;
            background-color: rgb(248, 248, 248);
            &:hover {
              color: $voilet;
              background-color: rgb(228, 228, 228);
            }
          }
        }
      }
      .trigger {
        display: none;
      }
    }
  }
  .landing-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1800px;
    margin: 0 auto;
    .human-on-chair {
      width: 50%;
      overflow: visible;
      padding: 0;

      img {
        padding-top: 40px;
        padding-left: 60px;
        width: 920px;
      }
    }
    .left {
      width: 50%;
      padding: 0px 0 0 0px;
      .head {
        width: 70%;
        max-width: 600px;
        font-size: 70px;
        margin: 0 0 10px 0;
        text-align: left;
        width: 100%;
        line-height: 1.15;
      }
      .sub-head {
        width: 75%;
        font-size: 18px;
        text-align: left;
        margin: 0 0 30px 0;
        line-height: 1.5;
      }
      .cta-btn {
        width: 100%;
        margin: 0;
        button {
          font-size: 18px;
          width: 180px;
          padding: 7px 20px;
        }
      }
    }
  }
  .grey {
    margin-top: 80px;
  }
  .shorten-box {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
    max-width: 1800px;
    min-width: 1000px;
    border-radius: 10px;
    padding: 30px 40px;
    max-width: 1800px;

    .input {
      width: 90%;
      border-radius: 10px;
      input {
        text-align: left;
        color: $voilet-max;
        &::placeholder {
          text-align: left;
        }
      }
    }
    .shorten-btn-parent {
      width: 10%;
    }
    .shorten-btn {
      width: 15%;
      margin: 0 20px 0;
      min-height: 35px;
          text-decoration: none;
    font-weight: 70
    }
  }
  #previous {
    min-width: 1000px;
    width: 80%;
    max-width: 1800px;
    margin-top: -20px;
    .item {
      text-align: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 40px;
      .url {
        width: 65%;
        font-size: 15px;
      }
      button {
        text-align: center;
        margin: 0;
        width: inherit;
        min-width: none;
        max-width: 400px;
      }
      .shortened-url {
        width: fit-content;
        min-width: none;
        max-width: 400px;
        margin: 0 20px;
        // background-color: #0000;
        button {
          text-align: center;
          width: 100%;
          padding: 5px 0px;
          min-width: none;
          max-width: 400px;
          font-size: 15px;
          // background-color: #0000;
        }
      }
      .copy-btn {
        width: 10%;
        button {
          width: 100%;
          min-width: none;
          max-width: none;
          text-align: center;
        }
      }
    }
  }
  .advanced-head {
    margin-top: 140px;
  }
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 80px;
    margin: 80px auto;
    width: fit-content;
    .item {
      margin: 0;
      height: fit-content;
      &:nth-child(2) {
        margin-top: 80px;
      }
      &:nth-child(3) {
        margin-top: 160px;
      }
    }
    .item:not(:last-child) {
      &::before {
        // display: none;
        top: 53%;
        left: 112%;
        width: 100px;
        height: 15px;
      }
    }
  }
  .pre-footer-content {
    height: 150px;
    padding: 100px 0;
    .head {
      font-size: 24px;
    }
    .btn {
      button {
        font-size: 22px;
      }
    }
  }
  footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 100px 0;
    .logo {
      font-size: 30px;
      width: 15%;
    }
    .links {
      width: 45%;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      .list {
        margin: 0;
        text-align: left;
      }
    }
    .social-links {
      // width: 30%;
      margin-top: 0;
      margin-right: 100px;
    }
  }
}
